<%= render "shared/header" %>
<div class="container">
  <div class="yesterday-result">
    <h1><%= "#{Date.today - 1}の成績" %></h1>
  </div>
  <h2>日々の賞金</h2>
  <p>100:</p>
  <p>90:</p>
  <p>80:</p>
  <p>70:</p>
  <h2>長いコース</h2>
  <h2>件数賞</h2>
  <h2>ニュース</h2>
</div>