.receipt-pdf{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 20px;
  margin: 40px;
  border: 8px double rgb(138, 136, 136);
  .receipt-top{
    // background-color: rgb(247, 221, 225);
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    p{margin-bottom: 10px;}
  }
  .receipt-title{
    font-size: 30px;
    margin-bottom: 90px;
  }
  .receipt-name{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 70px;
    p{
      font-size: 25px;
      font-weight: lighter;
      color: rgb(29, 29, 29);
      border-bottom: 1px solid black;
    }
  }
  .fee-box{
    background-color: rgb(223, 222, 222);
    width: 100%;
    padding: 0 160px;
    margin-bottom: 70px;
    font-size: 30px;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
  }
  .receipt-letter{
    margin-bottom: 70px;
  }
  .company-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}