<div class="qrpage">
  <h1 class="qrpage-title">こちら領収書のpdfです</h1>
  <span class="qr"><%= @qr %></span></br>
  <%= link_to "pdfビュー", "receipts/#{@receipt.id}.pdf" %></br>
  <%= link_to '戻る', receipts_path %>
</div>